
*{
    box-sizing: border-box;
}


form {
    margin: 20px;
}

.btn-update {
    margin: 10px;
}

.btn-submit {
    margin: 10px;
}

.SignUp-Modal {
    width: 30%;
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    background-color: skyblue;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

Form Button {
    margin: 10px;
}

.SignIn-Modal {
    width: 30%;
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 20px;

}

.SignUp-btn {
    margin-left: 10px;
}

.PasswordShow-eye {
    margin: -32px 0px 0px 340px;

}

.Re-PasswordShow-eye {
    margin: 0px 0px 10px 10px;
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
    .SignIn-Modal {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 500px) {

    .SignUp-modal{
        width: 90%;
    }
}

/* Table.css */
.btn-update {
    margin: 10px;
}

.btn-submit {
    margin: 10px;
}

Table {
    display: block;
}

Table thead tr th {
    width: 30%;
}

.ActionTag {
    text-align: center;
}

/* Validation.css */
.Validation-Container{
    width: 30%;
    align-items: center;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.Validate-label{
    width: 100%;
    margin-left: 10px;
}
.Validate-input{
    margin: 10px;
    width: 90%;
}
.btn{
    margin: 20px 20px;
}